ul {
	list-style-type: none;
}

.container-fluid {
    background-color: #346751;
	align-content: center;
}

.card {
	background-color: #ecdbba;
}

.btn-primary {
	background-color: #ecdbba;
	color: black;
	border-color: #ecdbba;
}

select {
	background-color: white;
	border-color: grey;
	border-width: 1px;
	border-radius: 5%;
}

.btn-primary:hover {
	background-color: grey;
	border-color: grey;
}

.not-valid, :invalid {
	border-color: red;
}