        <nav class="navbar navbar-expand-sm">          
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/${build}'>Build a Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/${search}">Recipe Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/${aboutus}">About Us</a>
                    </li>
                    <li class="nav-item">
                            <div id="edamam-badge" data-color="transparent"></div>
                    </li>
                </ul>
            </div>
        </nav>