body {
    background-color: #346751;
}

h1{
    font-weight: bolder;
    text-shadow: #ecdbba 1px 0 10px;
}

nav a {
    color: #212529;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: #ecdbba 1px 0 10px;

}

nav a:hover {
    color: #c84b31;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: #212529 1px 0 10px;

}

.link{
    color: #c84b31;
}

.link:hover {
    color: #c84b31;
    font-weight: bolder;
	text-decoration: underline;
	text-decoration-color: #c84b31;
	-webkit-text-decoration-color: #c84b31;
}

.my-spacer{
    height: 10px;
    background-color: #c84b31;
}

.my-text-panel{
    background-color: #ecdbba;
    font-size: large;    
}

.very-small{
    height: 50px;
    width: 50px;
}
