/* *{
    border: 1px solid red;
} */

body {
    background-color: #346751;
}

h1{
    font-weight: bolder;
    text-shadow: #ecdbba 1px 0 10px;
}

nav a {
    color: #212529;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: #ecdbba 1px 0 10px;

}

nav a:hover {
    color: #c84b31;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: #212529 1px 0 10px;

}

#my-div-output-container a:link{
    color: #c84b31;
}

#my-div-output-container > a:visited{
    color: #c84b31;
}

.link:hover {
	text-decoration: underline;
	text-decoration-color: #c84b31;
	-webkit-text-decoration-color: #c84b31;
}

.my-spacer{
    height: 10px;
    background-color: #c84b31;
}

.card {
    align-items: center;
    background-color: #ecdbba;
}

.card-title {
    font-weight: bold;
}

#my-input-form{
    background-color: #ecdbba;
} 

@media only screen and (max-width: 799px)
{
    #my-div-results{
        grid-template-columns: repeat(1, 18rem);
    }
}

@media only screen and (min-width: 800px) and (max-width: 999px)
{
    #my-div-results{
        grid-template-columns: repeat(2, 18rem);
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1249px)
{
    #my-div-results{
        grid-template-columns: repeat(3, 18rem);
    }
}

@media only screen and (min-width: 1250px)
{
    #my-div-results{
        grid-template-columns: repeat(4, 18rem);
    }
}